body {color: #00008B; background-color: #808080; margin: 0; padding: 0;}
header {color: #00008B; font-size: x-large;
}
.center {float: center;}
.right {float: right;}
h2 {color: rgb(12, 12, 12);}
li {color: aqua; font-size: larger;cursor: pointer;}
h3 {color: #00008B; font-size: larger;}
table {color: black; background-color: aqua; columns: auto; border: 1px solid; float: center;}
ul{font-size: larger;}
h4{color:aqua; font-size: larger;}



          
         
   